.plant{
    color: green;
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid green;
    border-radius: 0.5rem;
    background-color: #c3e6cb;
    width: 10rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}